@model PhotographyWeb.Models.Video

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Video</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Length" class="control-label"></label>
                <input asp-for="Length" class="form-control" />
                <span asp-validation-for="Length" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Size" class="control-label"></label>
                <input asp-for="Size" class="form-control" />
                <span asp-validation-for="Size" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FileFormat" class="control-label"></label>
                <input asp-for="FileFormat" class="form-control" />
                <span asp-validation-for="FileFormat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VideoQuality" class="control-label"></label>
                <input asp-for="VideoQuality" class="form-control" />
                <span asp-validation-for="VideoQuality" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BitRate" class="control-label"></label>
                <input asp-for="BitRate" class="form-control" />
                <span asp-validation-for="BitRate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VideoCameraId" class="control-label"></label>
                <input asp-for="VideoCameraId" class="form-control" />
                <span asp-validation-for="VideoCameraId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VideoGrapherId" class="control-label"></label>
                <input asp-for="VideoGrapherId" class="form-control" />
                <span asp-validation-for="VideoGrapherId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
